<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Notion AI My Mind Server Options!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    </head>
	<body>
		<div class="jumbotron text-center">
			<h1><img src="{{url_for('static', filename='icon.png')}}" width="30px" style="margin-right: 10px;"/>Notion AI My Mind Server</h1>
			<form name="url_submit" id="url_submit" action="{{ url_for('add_url_to_mind_post') }}" method="post">
				<h2>Submit URL with Notes</h2>
                <div class="form-group">
                    <label for="url">Target URL</label>
                    <input type="url" name="url" id="url" class="form-control"   placeholder="Enter the URL">

                    <h3>Properties customization :</h3>
                    <input type="text" name="title" id="title" class="form-control"   placeholder="Enter the title">
                   </div>

                <input class="btn btn-primary btn-sm"  type="button" onclick="postData()"  value="Save">

      		</form>
		</div>

        <script type="text/javascript">

            function getFormData($form){
                var unindexed_array = $form.serializeArray();
                var indexed_array = {};

                $.map(unindexed_array, function(n, i){
                    indexed_array[n['name']] = n['value'];
                });

                return indexed_array;
            }

            function postData()
            {
                var $form = $("#url_submit");
                var data = getFormData($form);

                fetch('/add_url_to_mind_post', {
                    // Declare what type of data we're sending
                    headers: {
                      'Content-Type': 'application/json'
                    },

                    // Specify the method
                    method: 'POST',

                    redirect: 'follow',
                    // A JSON payload

                    body: JSON.stringify(data)
                }).then(function (response) { // At this point, Flask has printed our JSON
                    return response.text();
                }).then(function (text) {

                    console.log('POST response: ');

                    // Should be 'OK' if everything was successful
                    console.log(text);

                    if (text == "200")
                    {
                         window.location.href = '{{ url_for('static',filename='thank_you.html') }}';
                    }else{
                         window.location.href = '{{ url_for('static',filename='error.html') }}';
                    }
                });
            }
        </script>

    </body>
</html>